
.output-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid darkgray;
    padding: 10px;
    margin: 10px 20px;
}


.output-item p {
    font-weight: bold;
    font-size: 2vw;
}

.output-value {
    text-align: right;
    max-width: 60%;
}
